@import '../../../style/base.scss';

.CommentCard{

  overflow: auto;

  @include e(username){
    font-size: 14px;
    a,span{
      color: $blue !important;
        &:hover {
          color: darken($color: $blue, $amount: 70%) !important;
        }
    }

    @include mq(md){
      font-size: 16px;
    }
  }

  @include e(time){
    color: $gray;
    font-size: 14px;
  }

  @include e(textContent){
    margin-top: 8px;
    font-size: 15px;

    @include mq(md){
      font-size: 18px;
    }
  }

  @include e(header){
    span{
      display: inline;
      margin-right: 10px;
    }
  }

  @include e(sub-content){
    padding: 12px;
    background-color: #F0F2F7;
    border-radius: 6px;
    line-height: 1.4;
    font-size: 18px;
    min-width: 40px;

    a{
      color:#7284d2;
        &:hover {
          color: darken($color: #7284d2, $amount: 30%);
        }
    }
    
  }
}