@import '../../../style/base.scss';

.FullStoryView{

  @include e(header){
    padding: 5px;  
    font-size: 15px;
  }

  @include e(details){
    margin-top: 10px;
    line-height: 1.6;
  }

  a{
    &:hover{
      color: lighten($color: $black, $amount: 40%)
    }
  }

  @include e(username){
    a{
      color: $blue;
      &:hover{
        color: lighten($color: $blue, $amount: 20%)
      }
    }
  } 

  @include e(loading){
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
  }

  @include e(comment){
    margin-top: 24px;
  }

  @include e(comment-header){
    padding:5px;
  }

}

