@import '../../base.scss';

.StoryModal{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 600px;
  min-height: 400px;
  transform: translate(-50%, -50%);
  background-color: $white;
  z-index: 10;
  padding:10px;
  border-radius: 10px;
  overflow: auto;
  @include mq(lg){
    width: 70%;
  }
}

.StoryModal-background{
  opacity: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  pointer-events: all;
}